<html>
  <head>
    <title>Verify Email</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'
      rel='stylesheet'
    />
    <style>
      body, table, td { font-family: 'Roboto', Arial, Helvetica, sans-serif
      !important; }
    </style>
  </head>
  <body style='margin-top: 0px'>
    <table width='100%' border='0' cellspacing='0' cellpadding='0'>
      <tr>
        <td align='center'>
          <table
            width='100%'
            border='0'
            cellspacing='0'
            cellpadding='0'
            style='margin-top: 16px; margin-bottom: 16px'
          >
            <tr>
              <td style='width: 50%'>
                <div style='width: 85px'></div>
              </td>
              <td valign='middle' align='center' style='white-space: nowrap'>
                <div style='margin-left: 24px; margin-right: 24px'>
                  <h1 style='margin-top: 0; margin-bottom: 12px'>
                    AI Image Detector
                  </h1>

                  <h2 style='margin-top: 0px; margin-bottom: 0px'>
                    Please verify your email
                  </h2>
                </div>
              </td>
              <td valign='middle' style='width: 50%'>
                <img
                  style='height: 85px; display: block;'
                  src='https://raw.githubusercontent.com/haywoodsloan/ai-image-detector/main/extension/public/icon/96.png'
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align='center'>
          <p style='font-size: 16px; margin-bottom: 24px; margin-top: 0px;'>
            Thank you for using the AI Image Detector! Click "Verify Me" to
            complete your registration.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <table width='100%' border='0' cellspacing='0' cellpadding='0'>
            <tr>
              <td></td>
              <td
                align='center'
                style='
                  height: 52px;
                  width: 124px;
                  background-color: #0085dd;
                  border-radius: 4px;
                '
              >
                <a
                  href='{{link}}'
                  style='
                    display: inline-block;
                    color: #ffffff;
                    width: 100%;
                    height: 52px;
                    line-height: 52px;
                    font-size: 18px;
                    text-decoration: none;
                  '
                >
                  Verify Me
                </a>
              </td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>